@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-design {
    @apply px-[7px] leading-[50px] text-[14px] font-semibold hover:text-text-default transition-colors duration-300;
  }
  .next-nav-design {
    @apply text-nowrap text-[14px] font-normal w-full leading-[19px];
  }
  .icon-design {
    @apply after:right-2.5 after:top-[12px] after:opacity-40 after:w-0 after:absolute relative after:h-0 after:border-modify;
  }
  .double-nav-design {
    @apply w-full hover:bg-text-default hover:text-white transition-colors duration-300 cursor-pointer;
  }
  .multiple-card-design {
    @apply min-w-[50px] h-[50px] bg-text-default grid place-items-center rounded-full mr-5;
  }
  .card-before-design {
    @apply relative z-10 before:absolute before:bottom-[100%] before:left-0 before:w-full before:h-full before:transition-all before:duration-300 hover:before:bottom-[0%] before:-z-10 before:bg-black hover:text-white transition-all duration-300 overflow-hidden;
  }
  .before-border {
    @apply before:absolute before:w-[1px] before:h-[90%] before:top-[5%] before:left-[50%] before:bg-af-b;
  }
  .dis-cound{
    @apply w-[109px] h-[20px] bg-dis-c text-[12px] text-white rounded-r-[50px] absolute left-0 top-[15px] ml-[-68px] transition-all duration-300 z-10;
  }
  .product1-header{
    @apply w-[250px] h-[384px] bg-white flex flex-col rounded-[5px] relative overflow-hidden max-99:h-[320px];
  }
  .product1-img{
    @apply w-full h-[253px] max-85:h-auto p-[20px] border-b-[3px] border-solid border-[#F9F9FD] relative before:absolute before:w-full before:h-full before:bg-black before:left-0 before:bottom-[100%] before:opacity-20 before:transition-all before:duration-300;
  }
  .product1-content{
    @apply p-[15px] h-[60px] flex flex-col;
  }
  .product1-text1{
    @apply font-medium text-[15px] mb-[30px] transition-all duration-300 max-99:mb-[15px];
  }
  .link-tag-design{
    @apply font-medium text-text-default underline;
  }
  .last-header-content{
    @apply text-[22px] mb-[20px] font-medium text-left;
  }
  .last-header-content2{
    @apply text-[18px] font-medium text-left mt-[25px] mb-[12px];
  }
  .last-header-para{
    @apply text-left leading-[26px];
  }
  .footer-card1-header{
    @apply py-[10px] cursor-pointer border border-solid border-f-border w-[272px] max-13:w-[97] h-[70px] flex items-center relative rounded-[50px] before:absolute overflow-hidden before:-z-10 z-10 before:left-0 before:top-0 before:h-full before:w-full before:bg-black before:opacity-0 before:transition-all before:duration-300 hover:before:opacity-40 transition-all duration-300 hover:border-text-default;
  }
  .footer-card1-icon{
    @apply w-[55px] h-[40px] pr-[10px] pl-[20px] mr-[20px] border-r border-solid border-f-border grid place-items-center text-white;
  }
  .footer-card1-text1{
    @apply mb-[3px] text-[#838383] text-[12px];
  }
  .footer-card1-text2{
    @apply font-medium text-text-default text-[20px];
  }
  .footer-header-tag{
    @apply mb-[30px] text-[14px] tracking-[4px] text-white uppercase font-medium;
  }
  .res-w-c{
    @apply w-[13.340099%] max-11:basis-[15.6%] max-85:basis-[18.6%] max-85:max-w-[18.6%] max-69:basis-[23.6%] max-69:max-w-[23.6%] max-70:max-w-[23.4%] max-86:max-w-[23%] max-57:basis-[31%] max-57:max-w-[31%] max-400:basis-[48%] max-400:max-w-[48%] max-260:basis-[98%] max-260:max-w-[98%];
  }
  .res-w-c-f{
    @apply w-full;
  }
  .re-p-c{
    @apply basis-[24.2666%] max-w-[24.2666%] max-69:basis-[49%] max-69:max-w-[49%];
  }
  .de-w{
    @apply w-[96%] mx-auto;
  }
  .re-s{
    @apply basis-[25%] max-w-[25%] grow-[1] shrink-[1];
  }
  .res-rgb-c{
    @apply max-85:basis-[49.7%] max-85:w-1/2;
  }
}
@layer utilities {
  .next-nav-content-design {
    text-decoration: none;
    transition: text-decoration 100ms;
  }
  .next-nav-content-design:hover {
    text-decoration: underline;
  }
  .linear-gradient-mix {
    background: linear-gradient(
      45deg,
      #00237e,
      #3749bb,
      #0bc1e9,
      #3749bb,
      #00237e
    );
    background-size: 400% 400%;
  }
  .shadow-box {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0 10px 15px rgb(0 0 0 / 10%),
      0 -3px 0 0 #ef4a23;
  }
  .border-modify {
    border-width: 4px 0 4px 4px;
    border-style: solid;
    border-color: transparent transparent transparent #ef4a23;
    display: inline-block;
  }
  .input-shadow {
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.05);
  }
  .sujjetion-box {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2),
      0 1px 0 rgba(0, 0, 0, 0.05) inset, 0 -5px 0 0 #fff;
  }
  .underline-design {
    text-decoration: underline;
    text-decoration-color: white;
    transition-property: text-decoration, text-decoration-color, color;
    transition-duration: 300ms;
  }
  .underline-design:hover {
    text-decoration: underline;
    text-decoration-color: white;
  }
  .hover-nav-animate {
    color: black;
  }
  .hover-nav-animate ul:hover .hover-nav-animate a {
    color: white;
  }
  .nav-2-modify ul {
    transition-property: opacity;
    transition-duration: 300ms;
  }
  .nav-2-modify:hover ul {
    visibility: visible;
    opacity: 1;
  }
  .sticky-nav {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  .navbar-shadow {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 0 5px 10px rgb(0 0 0 / 5%);
  }
  .btn {
    transition: all 300ms linear;
  }
  .btn:hover {
    box-shadow: 0 50px rgba(0, 0, 0, 0.2) inset;
    background: #2c3a96;
  }
  .input:valid + label .img1 {
    display: none;
  }
  .input:valid + label .img2 {
    display: block;
  }
  .transition5 {
    transition: border-radius 300ms ease 300ms;
  }
  .box-background {
    position: relative;
  }
  .box-background::before {
    content: "";
    position: absolute;
    width: 46px;
    height: 46px;
    bottom: 2px;
    right: 2px;
    opacity: 0;
    background: black;
    z-index: -1;
    border-radius: 50%;
    transition: opacity 300ms linear;
  }
  .bac:hover .box-background::before {
    opacity: 1;
  }
  .animated-icon {
    background: linear-gradient(
      45deg,
      red,
      orange,
      yellow,
      lime,
      cyan,
      blue,
      magenta,
      violet,
      deeppink,
      dodgerblue,
      springgreen,
      gold
    );
    background-size: 1500%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: moveColors 6s linear infinite alternate;
  }
  @keyframes moveColors {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  .circle::after {
    content: "";
    position: absolute;
    width: 110%;
    height: 110%;
    left: -5%;
    top: -5%;
    border-radius: 50%;
    background: conic-gradient(#f00, #0f0, #00f, #f00);
    z-index: -30;
    animation: rotate 2s linear infinite;
    opacity: 0;
  }
  .circle:hover::after {
    animation-play-state: paused;
  }
  .bac:hover .circle::after {
    opacity: 1;
    transition: opacity 300ms linear 300ms;
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .shadow-card {
    box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  }
  .img-white {
    filter: invert(1) brightness(2);
  }
  .bg-linear {
    background: linear-gradient(125deg, #0bc1e9, #3749bb, #00237e);
  }
  .box-shadow-button {
    box-shadow: 0px 60px rgba(0, 0, 0, 0.3) inset;
  }
  .grid-modify {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .calc-1 {
    left: calc(50% - 11px);
    top: calc(46% - 13px);
  }
  .custom-t {
    font-size: 17px;
    font-weight: 600;
    font-family: sans-serif;
    color: #D51E0B;
  }
  .custom-t2{
    font-size: 12px;
    text-decoration: line-through;
    font-weight: 600;
    font-family: sans-serif;
    color: #666666;
  }
  .icon-border{
    color: transparent;
    font-size: 17px;
    -webkit-text-stroke: 2px #f51e45;
    transition: color 300ms linear;
  }
  .icon-border:active{
    color: #f51e45;
  }
  .active{
    color: #f51e45;
  }
  .last-shadow{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1), -5px 5px 10px rgba(0, 0, 0, 0.1);
  }
  .responsive-box{
    box-shadow: 5px 0 20px rgba(0, 0, 0, 0.3);
  }
  .icon-active::after{
    display: none;
  }
  .next-c-s{
    box-shadow: 0 0 30px rgba(0,0,0, 0.2), -1px 0 0 0 rgba(255, 255, 255, 0.2);
  }
}
